/* Add this CSS to your stylesheets */

.container-quote {
  text-align: center;
  background-color: #a4b0be;
  padding: 20px;
}

.quote {
  font-size: 1.5rem;
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  background-color: #dcdde1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tags {
  font-size: 1rem;
  color: #555;
  margin: 20px 0px;
  font-weight: 500;
}

.get_quote {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.bookmark_img {
  background-color: #1dd1a1;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
}

.bookmark_img img {
  height: 15px;
  width: 20px;
  margin-top: 3px;
}

.get_quote:hover {
  background-color: #b92982;
}

select {
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
